<div class="container">
  <h3 class="colorName3 text-uppercase font-weight-bold text-center">
    <span class="badge badge-warning">Lorem ipsum dolor sit amet</span>
  </h3>


  <div class="container mt-3">
    <div class="container backPaginaNoticias34">
      <div class="card backNoticiaCompleta41 text-center">

        <h5 class="card-title backNoticiaCompleta42">Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>

        <img [src]="noticiaService.noticiaSel.img" class="card-img img-fluid">

        <div class="card-body text-justify">

          <p class="card-text colorNoti31 tab27">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, repellat consequuntur sed obcaecati quam non
            quae voluptas necessitatibus ea ut, harum doloribus laudantium excepturi impedit.
          </p>
          <p class="card-text colorNoti31 tab27">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, totam ratione eaque, repellat inventore
            soluta odit quaerat vitae aliquam, beatae reiciendis et cum numquam dolores.
          </p>
          <p class="card-text colorNoti31 tab27">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, totam ratione eaque, repellat inventore
            soluta odit quaerat vitae aliquam, beatae reiciendis et cum numquam dolores.
          </p>
          <p class="card-text colorNoti31 tab27">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, totam ratione eaque, repellat inventore
            soluta odit quaerat vitae aliquam, beatae reiciendis et cum numquam dolores.
          </p>
          <p class="card-text colorNoti31 tab27">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, totam ratione eaque, repellat inventore
            soluta odit quaerat vitae aliquam, beatae reiciendis et cum numquam dolores.
          </p>
          <div class="text-center">
            <i (click)="back()" class="fas fa-arrow-alt-circle-left fa-2x cursor7"></i>
          </div>
        </div>
        <div  class="container text-center backPaginaNoticiaCompleta43">
          <p class="card-text"><span class="backPlus37">
              <img src="../../../assets/img/1.jpg" class="tamanoYo29 backImgNoti30 rounded-circle mr-2">
            </span>
            <span class="mr-2">
              <u>Federica Daniela Jiménez</u>
            </span>
            <span>
              <small class="colorTexto40">15/10/2020</small>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
