<div class="container">
  <h3 class="ultimas text-uppercase font-weight-bold mt-5 text-left">
    <span class="badge badge-warning">Mensajes</span>
  </h3>

  <div class="container text-center mt-3">
    <ul class="list-unstyled backUltimas28 pt-4 pl-4 pr-4 mt-1 text-justify">

      <li class="text-left">
        <span class="mr-3 colorTexto40">Martes 15/10/2020</span>
        <span>
          <small class="colorTexto40">10:34 am</small>
        </span>
      </li>
      <li class="backMensajes44 mb-5">
        <div class="media-body">
          <h6 class="mb-1">
            <img src="../../../assets/img/email.jpg" class="tamanoYo29 rounded-circle mr-2 backImgNoti30">
            <span class="backTituloNoti33">prueba1@esprueba.co.uk</span>
            <a href="mailto:prueba1@esprueba.co.uk" target="_blank" rel="noopener noreferrer">
              <i class="fas fa-reply ml-4 colorName3 cursor7"></i>
            </a>
            <i class="far fa-trash-alt ml-4 cursor7"></i>
          </h6>
          <span class="colorNoti31">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere ex consequuntur animi similique corporis
            impedit natus molestiae iste nostrum perspiciatis enim, sint quos repellendus voluptatum. Excepturi quasi,
            pariatur rerum quod ipsum sapiente labore repudiandae consequuntur aut. Numquam recusandae mollitia animi,
            consequatur saepe minus optio! Provident tenetur voluptate suscipit consectetur alias!
          </span>
          <div class="text-center">
            <span class="badge badge-warning mr-3">1/1</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
