
body {
  background-image: url('./assets/img/fondo2.jpg');
  margin-top: 100px;
  margin-bottom: 110px;
  min-height: 500px;
}

html {
  font-size: 13px;
}

.fa-whatsapp {
color: #25D366;
}
.fa-facebook {
color: #3b5998;
}
.fa-envelope {
color: orangered !important;
}
.fa-linkedin-in {
color: #0e76a8;
}
.fa-instagram {
color: #C13584 !important;
}
.fa-twitter {
color: #00acee;
}

.fa-at,
.fa-comment {
    color: rgba(255, 255, 0, 0.7) !important;
}

.badge-warning {
  background-color: yellow !important;
}

.btn-outline-warning {
  border-color: yellow !important;
}

.btn-outline-warning:hover {
  background-color: rgb(221, 221, 0) !important;
}

.active {
  background-color: rgba(255, 255, 0, 0.120);
  font-weight: 620;
}

.mt-n1 {
  margin-top: -1.2rem !important;
}

.btn-warning {
    background-color: rgb(255, 255, 57)  !important;
    color: black !important;
    font-weight: 620;
}

.btn-warning:hover {
    background-color: yellow !important;
    font-weight: 680;
}

.tooltip-inner {
    background-color: rgba(0, 0, 0, 0.85) !important;
    color: yellow !important;
}

.form-control:focus {
  border-color: yellow !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 0, 0.25) !important
}

.colorBody1 {
  background-color: yellow !important;
  border: 2px solid black !important;
}

.colorNavbar2 {
  background-image: url('./assets/img/navfoo.jpg');
  border: 2px solid yellow;
  border-radius: 2px;
  margin: 5px;
  padding: 0px;
}

.colorName3 {
  color: yellow !important;
}

.colorName4 {
  color: yellow !important;
  text-shadow: 2px 2px 4px rgb(83, 83, 8);
}

.margin5 {
  margin-left: 80px;
  margin-right: 80px;
}

.federica6{
  font-size: 20px !important;
}

.cursor7 {
  cursor: pointer;
}

.cookies8 {
  background-color: rgb(253, 253, 21) !important;
  color: black !important;
  height: 22px !important;
  border: yellow;
}

.cookies8:hover {
  background-image: url('./assets/img/fondo2.jpg');
  color: yellow !important;
  border-top-style: none !important;
  border: 1px dotted rgb(255, 255, 0);
}

.back9 {
  background-color: black !important;
  color: yellow !important;
}

.colorTexto10 {
    color: rgb(194, 194, 194);
}

.colorModal11 {
    background-image: url('./assets/img/navfoo.jpg');
    border: 2px solid rgba(255, 255, 0, 0.1);
    border-radius: 2px;
    padding: 20px !important;
}

.backModal12 {
    background-image: url('./assets/img/navfoo.jpg');
    color: yellow !important;
    border: 10px inset yellow;
}

.backContacto13 {
    background-color: rgb(0, 0, 0) !important;
    border: 1px solid yellow;
}

.backInput14 {
    background-color: rgb(0, 0, 0) !important;
    border: 1px solid yellow;
    color: rgb(194, 194, 194) !important;
    text-align: left;
}

.backInput15 {
    background-image: url('./assets/img/fondo2.jpg');
    border: 1px solid yellow;
    color: yellow !important;
    text-align: center;
}

.colorNegro16 {
  /* En producción dejadlo transparente */
  color: yellow;
}

.backInput17 {
    background-image: url('./assets/img/navfoo.jpg');
    border: 1px solid yellow;
    color: rgb(194, 194, 194) !important;
    text-align: center;
}
